<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}todo{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

{% block content %}
todo
{% endblock %}
<!--<div><iframe width="400" height="250" style="margin-top:40px" src="https://www.youtube.com/embed/FhksmAd0O2w?si=1S29_U9prmBlk9LB" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>-->

</body>
</html>